/* @import "tailwindcss"; */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffffff;
}
/* html, body { 
    background: #ffffff; 
    height: 100%;  
    position: relative; 
  } */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.no-tailwind * {
  /* Reset all styles */
  all: revert-layer;
}
.markdown table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.markdown table td, .markdown table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.markdown table tr:nth-child(even){background-color: #f2f2f2;}

.markdown table tr:hover {background-color: #ddd;}

.markdown table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--green);
  color: white;
}
.markdown:not([dir=rtl]) blockquote {
  border-left: 2px solid #ccc;
  margin-left: 1.5rem;
  padding-left: 1rem;
}
.markdown a{
  color: var(--green);
  /* text-decoration: none; */
}

/* Table Transform */
.markdown table {
  width: 100%;
  max-width: 90vw;
  border-collapse: collapse;
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

.markdown ::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
 .markdown img {
    max-width: 100%;
    height: auto;
  }
@media (max-width: 768px) {
  .markdown img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  
}


