/* @import "tailwindcss"; */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffffff;
  font-size: 18px;
}
/* html, body { 
    background: #ffffff; 
    height: 100%;  
    position: relative; 
  } */

  .container {
  max-width: 1440px !important;
  padding-left: 8px;
  padding-right: 8px;
}
@media screen and (min-width: 480px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (min-width: 640px) {
  .container {
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    padding-left: 18px !important;
    padding-right: 18px !important;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    padding-left: 60px !important;
    padding-right: 60px !important;
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.no-tailwind * {
  /* Reset all styles */
  all: revert-layer;
}
a {
  color: inherit !important;           /* use whatever text color is on the parent */
  text-decoration: none;    /* remove default underline (optional) */
  transition: opacity 150ms ease, color 150ms ease;
}
.markdown table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.markdown table td, .markdown table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.markdown table tr:nth-child(even){background-color: #f2f2f2;}

.markdown table tr:hover {background-color: #ddd;}

.markdown table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--green);
  color: white;
}
.markdown:not([dir=rtl]) blockquote {
  border-left: 2px solid #ccc;
  margin-left: 1.5rem;
  padding-left: 1rem;
}
.markdown a{
  color: var(--green);
  /* text-decoration: none; */
}

/* Table Transform */
.markdown table {
  width: 100%;
  max-width: 90vw;
  border-collapse: collapse;
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

.markdown ::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
 .markdown img {
    max-width: 100%;
    height: auto;
  }

  .glass-effect {
    background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px); /* for Safari */
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* color: white; */
  text-align: center;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}

.shadow-theme-2xl {
  box-shadow: 10px 10px 0px 0px var(--tw-shadow-color);

}
.shadow-theme-xl {
  box-shadow: 8px 8px 0px 0px var(--tw-shadow-color);

}
.shadow-theme-lg {
  box-shadow: 6px 6px 0px 0px var(--tw-shadow-color);

}
.shadow-theme-md {
  box-shadow: 3px 3px 0px 0px var(--tw-shadow-color) !important;

}
.shadow-theme-sm {
  box-shadow: 2px 2px 0px 0px var(--tw-shadow-color);

}
.btn-theme{
  background-color: var(--green);
  color: white;
  border-radius: 50px;
  padding: 15px 28px;
  display: flex;
  align-items: center;
  text-decoration: none;
box-shadow: 4px 4px 0px 1px #212529;
border:1px solid #212529;
font-size: 16px;
font-weight: 800;
transition: all 0.3s ease;
width: max-content;
line-height: 1;
font-family: "epilogue-bold", sans-serif;
font-weight: 800;
}
.btn-theme:hover{
  color:white;
  transform: translateY(3px);
  box-shadow: 2px 2px 0px 1px #212529;
}

.btn-outline{
  color: #4B5563;
  border-radius: 50px;
  padding: 15px 28px;
  display: flex;
  align-items: center;
  text-decoration: none;
box-shadow: 4px 4px 0px 1px var(--tw-shadow-color);
border: 1px solid var(--tw-shadow-color);
font-size: 16px;
font-weight: 800;
transition: all 0.3s ease;
width: max-content;
line-height: 1;
font-family: "epilogue-bold", sans-serif;
font-weight: 800;
}
.btn-outline:hover{
  color: #4B5563;
  transform: translateY(3px);
  box-shadow: 2px 2px 0px 1px var(--tw-shadow-color);
}
.offcanvas-backdrop {
  display: none !important;
}

@media (max-width: 768px) {
  .markdown img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  
}


